<div class="container">
  <p>My Quotes</p>

  <div class="row">
      <div class="col-md-6 ">
        <ul>
          <li  class="card quote" *ngFor='let quote of quotes; let i =index'>{{quote.quote}}
            <button (click)='viewDetails(i)' class="btn btn-outline-primary">View Details</button>
            <app-details *ngIf='quote.showDetails' [quote]='quote'(toDelete) = 'deleteQuote($event, i)'> </app-details>
           
          </li> 
        </ul>
      </div>
  
      <div class="col-md-6">
        <app-form (createQuote)='createNewQuote($event)'></app-form>
      </div>
  
  </div>
</div>

